form.instrument-picker {
	list-style-type: none;
}

form.instrument-picker > fieldset > div {
	width: 55px;
	height: 55px;
	position: relative;
	display: inline-block;
}
form.instrument-picker label, form.instrument-picker input {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
form.instrument-picker input[type="radio"] {
	opacity: 0.001;
	z-index: 100;
}
form.instrument-picker input[type="radio"] + label {
	padding: 0.125em;
}
form.instrument-picker input[type="radio"]:checked + label {
	background: black;
}

form.instrument-picker label {
	cursor: pointer;
}
