:root {
	--color-background-body: #fffff8;
	--color-background-content: #f8fcff;
	--color-background-output: #161517;
	--color-background-alternate: #3e3c40;
	
	--color-text-error: #ff6622;
	--color-text-error-intense: #ff4444;
	--color-text: #2c294d;

	--color-tr: #88888844;
	--color-button: #ffebbd;
	--color-button-run: #ffd866;

	--color-nav-border: #80808080;
	--color-current-link: #664400;
	--color-h1-border: #000;
	--color-h2-border: #888;
	--color-h3-border: #ddd;
	--color-h4: #aaa;
	--color-aside-background: #ddffcc;
	--color-aside-danger-background: #d3c0b6;
	--color-aside-danger-border: #ffccaa;
	--color-aside-border: #209050;
	--color-code-block: #224400;
	--color-code-namespace: #ff8040;
}
/*
Token types:
https://microsoft.github.io/language-server-protocol/specifications/lsp/3.18/specification/#textDocument_semanticTokens
*/
.comment { color: #ddeedd; }
.function { color: #78dce8; }
.interface { color: #a9dc76; }
.keyword { font-weight: bold; color: #ff6188; }
.modifier { color: #ff6188; }
.namespace { color: #ff6188; }
.number { color: #ffd866; }
.parameter { color: #ffebbd; }
.property, .enumMember { color: #fefefe; }
.string { color: #ffd866; }
.type, .enum { color: #ab9df2; }
.typeParameter { color: #fc9867; }
.variable { color: #ffebbd; }
.no-token { font-weight: light; color: #aaa; }

a {
	color: #ffebbd;
}
a:visited {
	color: #dfdbad
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background-body:      #2c292d;
		--color-background-output:    #161517;
		--color-background-content:   #3c393d;
		--color-background-alternate: #3e3c50;
		--color-text: #e8e4de;
		--color-text-faint: #6c696d;
	}
}
