.outer-container {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}
.output {
	width: 100%;
	color: var(--color-text);
	background: var(--color-background-output);
	font-family: "hack";
	white-space: pre-wrap;
	tab-size: 4;
	overflow: hidden;
}
.output.running { transition: none; }
.output > .stderr { color: var(--color-text-error); }
.output > .exit-code { color: var(--color-text-error-intense); }
button {
	border: none;
	outline: none;
	color: var(--color-button);
	background: transparent;
	cursor: pointer;
}
.run {
	color: var(--color-button-run);
}
.bottom {
	background: var(--color-background-alternate);
	margin: 0;
}
div.icon svg { height: 1.5em; }
button.collapsed { display: none; }
