:host {
	display: block;
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
	background: var(--color-background-code);
}
.output {
	width: 100%;
	color: var(--color-text);
	font-family: "hack";
	white-space: pre-wrap;
	tab-size: 4;
	overflow: hidden;
	border-top: 1px solid var(--color-faint);
}
.output.running { transition: none; }
.output > .exit-code, .output > .stderr { color: var(--color-text-error); }
.output > .exit-code { font-weight: bold; }
button {
	border: none;
	outline: none;
	color: var(--color-button);
	background: transparent;
	cursor: pointer;
}
.bottom {
	margin: 0;
}
div.icon svg { height: 1.5em; }
button.collapsed { display: none; }
