table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}
table th {
	padding: 0;
	width: 33%;
}
table td {
	padding: 0;
	width: 33%;
	border: 1px solid #888;
}
table td:focus-within {
	background: #f8ffe0;
}
input {
	padding-left: 0.5em;
	padding-right: 0;
	width: calc(100% - 0.5em);
	font-family: "hack";
	font-size: 105%;
	border: none;
}
input:focus-visible {
	outline: none;
	background: #f8ffe0;
}
