bin/*
!bin/crow-lkg
site
site2/java
site2/worker.js
site2/worker.js.map
site2/node_modules
site2/crow-include.tar
site2/java-classes.tar
editor/vscode/node_modules
test/test
demo/webapp/db
demo/*/index.js
demo/*/index.js.map
